body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=email],
input[type=password],
input[type=text] {
  height: 5vh;
  min-width: 60vw;
  padding: 0 5vw;
}

button {
  height: 5vh;
  padding: 1vh 5vw;
  min-width: 70vw;
  display: flex;
  align-items: center;
  gap: 4vw;
  justify-content: center;
  border-radius: 10px;
}
